.ds-feature{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
}
.ds-feature .categories-image{
    width: 150px;
}

.carousel-item a{
    text-decoration: none;
}