{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SnapMyEat - New Password</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/change_password.css' %}">
</head>
<body>
  <div class="container">
    <div class="image-section">
      <img src="https://img.freepik.com/premium-vector/italian-chef-holding-pizza-hand-drawn-sketch-restaurant-business-concept-logo-vector-illustration_666729-476.jpg?w=2000" alt="Chef Illustration" />
    </div>
    <div class="form-section">
      <h2>SnapMyEat</h2>
      <form id="passwordForm" method="POST">
        {% csrf_token %}
        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" name="new_password" placeholder="Enter new password" required />

        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirm_password" placeholder="Confirm password" required />

        <button type="submit">Reset Password</button>
      </form>
    </div>
  </div>

  <script>
    document.getElementById("passwordForm").addEventListener("submit", function (e) {
      e.preventDefault();
      const pass1 = document.getElementById("newPassword").value;
      const pass2 = document.getElementById("confirmPassword").value;

      if (pass1 !== pass2) {
        alert("Passwords do not match!");
      } else if (pass1.length < 6) {
        alert("Password should be at least 6 characters.");
      }else{
        this.submit();
      }
      
    });
  </script>
</body>
</html>
